Repository geetesh07/nts: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server

comment:
  layout: "diff, flags"
  require_changes: true
  show_critical_paths: true

flags:
  server:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

profiling:
   critical_files_paths:
      - /nts/api.py
      - /nts/app.py
      - /nts/auth.py
      - /nts/boot.py
      - /nts/client.py
      - /nts/handler.py
      - /nts/migrate.py
      - /nts/sessions.py
      - /nts/utils/*
      - /nts/desk/reportview.py
      - /nts/desk/form/*
      - /nts/model/*
      - /nts/core/doctype/doctype/*
      - /nts/core/doctype/data_import/*
      - /nts/core/doctype/user/*
      - /nts/core/doctype/user/*
      - /nts/query_builder/*
      - /nts/database/*

gunicorm
  pyproject.toml
Due: none

Dependencies resolved
  package.json
  yarn.lock
Due: none

nts dict
  nts/types/ntsdict.py
Due: server, server-ui

es build nts changes
  esbuild/nts-html.js
  esbuild/nts-vue-style.js
Due: ui-tests

more es build dependencies resolved
  esbuild/esbuild.js
  yarn.lock
Due: ui-tests

redundant dependencies were used and it is now resolved
  nts/public/js/nts/data_import/import_preview.js
  nts/public/js/nts/form/controls/text_editor.js
  nts/public/js/nts/ui/chart.js
  nts/public/js/nts/ui/datatable.js
  nts/public/js/nts/views/reports/query_report.js
  nts/public/js/nts/views/reports/report_view.js
  nts/public/scss/desk.bundle.scss
  nts/public/scss/report.bundle.scss
  nts/public/scss/web_form.bundle.scss
Due: ui-tests

Hmm smal missing change
  nts/public/scss/desk/index.scss
Due: none

frappe cloud issue solved
  nts/utils/ntscloud.py
Due: server, server-ui

more changes
  nts/integrations/nts_providers/ntscloud.py
  nts/integrations/nts_providers/ntscloud_billing.py
  nts/tests/test_nts_client.py
Due: server, server-ui

Sign in and up
  nts/templates/signup.html
  nts/www/login.html
  yarn.lock
Due: none
